.tag-container {
  padding: 2px 15px;
  border: #eeeeee 1px solid;
  border-radius: 3px;
  margin-right: 5px;
  margin-bottom: 10px;
  font-size: 12px;
  cursor: pointer;
}

.tag-container:hover {
  background-color: #eeeeee
}