.product-overview-container {
  background-color: #ffffff;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  align-items: center;
  padding-top: 25px;
  box-shadow: 0px 8px 6px rgba(0,0,0,0.1);
}

.product-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.product-tags-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 20px;
  border-top: #eeeeee 1px solid;
  border-bottom: #eeeeee 1px solid;
  margin-bottom: 30px;
}

.product-pages-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 85%;
}

.product-pages-container > div {
  margin-bottom: 30px;
  text-transform: uppercase;
}

.product-image {
  width: 60%;
  margin-bottom: 12px;
}

.product-title {
  font-size: 17px;
  margin-bottom: 6px;
  font-weight: bold;
}

.product-subtitle {
  font-size: 12px;
  color: #aaaaaa;
  width: 70%;
}

.page-link {
  color: #949393;
  cursor: pointer;
}

.selected-page {
  font-weight: bold;
  cursor: pointer;
  color: #000000
}