@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.App {
  text-align: center;
  background-color: #f7f7f7;
  font-family: 'Lato', sans-serif;
}

.product-content-container {
  display: flex;
  padding: 70px 20px;
}
